{% extends "MapSite/base.html" %} {% load static %} {% block content%}

<h2 class="text-center">Sites Record</h2>
<br>
<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>Site ID</th>
            <th>Site Name</th>
            <th>Site Manager</th>
            <th>Site Engineer</th>
            <th>Site Latitude</th>
            <th>Site Longitude</th>
        </tr>
    </thead>
    <tbody>
        <!-- jinja2 Technique -->

        <tr>
            <td>{{data.SiteID}}</td>
            <td>{{data.SiteName}}</td>
            <td>{{data.SiteManager}}</td>
            <td>{{data.SiteEngineer}}</td>
            <td>{{data.Latitude}}</td>
            <td>{{data.Longitude}}</td>
        </tr>

    </tbody>
</table>

{% endblock content %}